apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: {{ include "lib.fullname" . }}
  labels:
    {{- include "lib.labels" . | nindent 4 }}
  annotations:
    {{- include "lib.argocdAnnotations" . | nindent 4 }}
spec:
  image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-{{ .Values.postgresVersion }}
  postgresVersion: {{ .Values.postgresVersion }}
  instances:
    - name: instance1
      replicas: {{ if .Values.ha.enabled }}2{{ else }}1{{ end }}
      dataVolumeClaimSpec:
        accessModes:
        - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .Values.storage.size }}
        {{- if .Values.storage.storageClassName }}
        storageClassName: {{ .Values.storage.storageClassName }}
        {{- end }}
      resources:
        {{- include "lib.resources.aws_rds" . | nindent 8 }}
  backups:
    pgbackrest:
      image: registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.41-4
      repos:
      - name: repo1
        volume:
          volumeClaimSpec:
            accessModes:
            - "ReadWriteOnce"
            resources:
              requests:
                storage: {{ .Values.storage.size }}
            {{- if .Values.storage.storageClassName }}
            storageClassName: {{ .Values.storage.storageClassName }}
            {{- end }}
